.button-menu {
    text-align: center;
    padding: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: 1;
}

.button-menu.active {
    color: red;
}

.button-menu:hover {
    opacity: 0.8;
}

.card-header {
    cursor: pointer !important;
    .shop-image {
        margin-right: 5px;
        max-width: 50px;
        max-height: 50px;
    }
}