@import '../node_modules/bootstrap/scss/bootstrap';
@use "sass:map";

$color-pink: #e31dc2;
$color-blue: #2772e0;

.btn {
  min-width: 5rem;
}
*,*:focus,*:hover, *:focus-visible{
  outline: none;
}
.required {
  color: #d92525;
  font-size: 14px;
}

input.form-control {
  border-color: $color-pink;
}
